
<!DOCTYPE html>
<html>
    <head>
        <title>Query Page</title>
        <script language="javascript" type="text/javascript" src="/WordPredictionEngine/Scripts/jquery-1.5.1.min.js"></script>
        <script language="javascript" type="text/javascript" src="/WordPredictionEngine/Scripts/JQuery-ui.js"></script>
        <script language="javascript" type="text/javascript" src="/WordPredictionEngine/Scripts/jquery.popover-1.1.2.js"></script>
        
        
    </head>
    <body>

        <div style="margin-left: 20%;">
            @using (Ajax.BeginForm("LearnFromFiles","Home",new AjaxOptions()) )
            {
                <h4 id="learn">LEARN:</h4>
                <input type="text" value="directoryname-or-filename" name="path" size="70" style="height: 40px; font-size: large" id="learnbox" />
                <input type="submit" value="LearnFromDisk"/>
            }
            @using ( Ajax.BeginForm( "LearnFromASentence", "Home", new AjaxOptions( ) ) )
            {

                <h4 id="learns">LEARNS:</h4>
                <input type="text" value="sentence" name="sentence" size="70" style="height: 40px; font-size: large" id="learnsbox" />
                <input type="submit" value="Learn"/>
            } 
            @using (Ajax.BeginForm("predict", "Home", new AjaxOptions(){OnSuccess = "processResponse"}))
            {
                <h4 id="predict">PREDICT:</h4>
                <input type="text" value="word" size="70" name="word" style="height: 40px; font-size: large" id="predictbox" />
                <input type="submit" value="Predict"/>
            }
        </div>
        <div id=""></div>
        
        <script type="text/javascript">
            function processResponse(response) {
                alert("Next Word is:" + response.data);
            }
            $(document).ready(function() {
                $("#learn").tooltip({ content: "Reads the filepath or files inside the directorypath" + "</br>" +
                        " and update the prediction rules based on data inside."
                });
                $("#learns").tooltip({ content: "prediction engine updates the rules based on the sentence given." });
                $("#predict").tooltip({ content: "prints the word most likely to come after input " });

                $("learnbox").focusin(function () {
                    $(this).htmlText("");
                });
                $("learnbox").focusout(function () {
                    $(this).htmlText("directoryname-or-filename");
                });
                $("learnsbox").focusin(function () {
                    $(this).htmlText("");
                });
                $("learnsbox").focusout(function () {
                    $(this).htmlText("sentence");
                });
                $("predictbox").focusin(function () {
                    $(this).htmlText("");
                });
                $("predictbox").focusout(function () {
                    $(this).htmlText("word");
                });
            });

        </script>
    </body>
</html>